html,
body {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $lexend;
}

.marker {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0;
  text-align: left;
  color: $yellow;
  position: relative;
  display: flex;
  align-items: center;

  &__line {
    margin-right: 8px;
    width: 32px;
    height: 1px;
    background: #F59E0B;
  }
}

.form {
  background: $white;
  border: 1px solid $neutral300;
  border-radius: 32px;

  input {
    border: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    color: $neutral500;

    &::placeholder {
      color: $neutral500;
    }
  }
}

* {
  outline: none;
}

a {
  text-decoration: none;
}

img {
  image-rendering: -webkit-optimize-contrast;
}

svg {
  .path {
    transition: .2s;
  }
}

.linear-gradient__pink {
  width: 100%;
  height: 30%;
  position: absolute;
  top: 0;
  background: #FF9882;
  opacity: 0.8;
  filter: blur(120px);
  transform: rotate(75deg);
  left: 50%;
  z-index: 2;
}

.linear-gradient__yellow {
  width: 100%;
  height: 30%;
  left: 50%;
  z-index: 3;
  position: absolute;
  background: #FFFA82;
  opacity: 0.5;
  filter: blur(120px);
  transform: rotate(105deg);
}

.linear-gradient__green {
  background: linear-gradient(140deg, rgba(255, 255, 255, 0) 0%, #43ccbfb8 0%, white 30%, rgba(255, 255, 255, 0) 100%);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 160px;
}