$lexend: 'Lexend';

h1, h2, h3, h4, h5, h6 {
  color: $headline;
  font-family: $lexend;
  margin: 0;
  text-transform: capitalize;
}

p {
  margin: 0;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0;
}

h2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0;
}

h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0;
  color: $neutral900;
}

h4 {
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0;
}

h5 {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0;
}

.text {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0;
  color: $neutral01;
  opacity: 0.75;
}

.logo__title {
  font-weight: 700;
}

p.error {
  color: $redText;
  font-size: 12px;
  margin-top: 8px;
}

input.error {
  border: 1px solid $redText !important;
}